aniso8601==3.0.2
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-JWT-Extended==3.12.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
passlib==1.7.1
pathlib2==2.3.2
pluggy==0.7.1
py==1.6.0
PyJWT==2.4.0
pytz==2018.5
requests==2.19.1
scandir==1.9.0
six==1.11.0
SQLAlchemy==1.2.11
urllib3==1.23
Werkzeug==0.14.1
